extends layouts/root

block content
  .row
    .col-sm-12.col-md-8
      h1 A picture for each topic!
      p Entipic.com is a service offering every subject/topic (i.e., Google, Barack Obama, Paris, etc.) a representative image that can be freely used by any application.
      br
      h4 Examples:
      #examples.well.well-small
        .row
          each item in exampleTopics
            .col-xs-6.col-sm-4
              .media
                .media-left
                  img.media-object(src=entipicUrl(item.englishWikiName, 'en'))
                .media-body &larr; 
                  b
                    a(href=links.topic(item.uniqueName))= item.englishWikiName

    .col.sm-12.col-md-4
      .panel.panel-default
        .panel-heading
          h3.panel-title Stats
        .panel-body.text-center.stats
          .row
            .col-md-12.col-sm-4.col-xs-6
              .count= countTopics.toLocaleString()
              span.text-muted Topics
            .col-md-12.col-sm-4.col-xs-6
              .count= countUniqueNames.toLocaleString()
              span.text-muted Unique names
            .col-md-12.col-sm-4.col-xs-6
              .count= countPictures.toLocaleString()
              span.text-muted Pictures
      .panel.panel-default
        .panel-heading
          h3.panel-title Stats (last 7 days)
        .panel-body.text-center.stats
          .row
            .col-md-12.col-sm-4.col-xs-6
              .count= countTopics7Days.toLocaleString()
              span.text-muted Topics
            .col-md-12.col-sm-4.col-xs-6
              .count= countUniqueNames7Days.toLocaleString()
              span.text-muted Unique names
            .col-md-12.col-sm-4.col-xs-6
              .count= countPictures7Days.toLocaleString()
              span.text-muted Pictures
