extends layouts/root

block content
  article.topic
    .topic-hero
      .topic-image
        img(src=entipicUrl.picture(topic.pictureId, 'f'), srcset=entipicUrl.picture(topic.pictureId, 'd') + ' 200w, ' + entipicUrl.picture(topic.pictureId, 'e') + ' 250w, ' + entipicUrl.picture(topic.pictureId, 'f') + ' 300w', sizes='(max-width: 640px) 200px, 300px', alt=topic.name)
      .topic-meta
        h1.topic-title= topic.name
        .topic-chips
          if (topic.type)
            span.chip= topic.type
          if (topic.refHost)
            a.chip.chip-link(href='https://' + topic.refHost, target='_blank', rel='noopener')= topic.refHost
        if (topic.description)
          p.topic-description= topic.description

    if (topic.picturesIds && topic.picturesIds.length)
      section.section
        h2.section-title All pictures
        ul.gallery
          each item in topic.picturesIds
            li.gallery-item
              img(src=entipicUrl.picture(item, 'c'), alt=topic.name, loading='lazy')
